In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path = "Datafiniti_Mens_Shoe_Prices.csv"

#Import the CSV into a pandas DataFrame
Mens_Shoes_df = pd.read_csv(csv_path, low_memory = False)
Mens_Shoes_df

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 48
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19382,AVpfdSjlilAPnD_xcGPm,NaN,"Xray, XRay","Clothing, Shoes & Accessories,Men's Shoes,Boots",Black,NaN,2016-03-04T05:54:20Z,2016-03-04T05:54:20Z,NaN,NaN,...,NaN,NaN,12,"[{""sourceURLs"":[""http://www.ebay.com/itm/NEW-X...",http://www.ebay.com/itm/NEW-XRay-Hester-Mens-L...,6.57487E+11,NaN,NaN,NaN,NaN
19383,AVpf3bFWilAPnD_xjrQ2,NaN,Fila,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-10-05T22:23:17Z,2016-10-05T22:23:17Z,"[{""dateSeen"":[""2016-10-05T22:23:17Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Fila-Men-s-Original...,7.89482E+11,NaN,NaN,NaN,NaN
19384,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN
19385,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN
19386,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN

In [3]:
#Show the 'shape' of the dataframe 
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (19387, 49)

###### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Mens_Shoes_df = Mens_Shoes_df[["id", "brand", "colors", "name", "prices.amountMax",  "prices.currency", "prices.dateSeen",
                               "prices.isSale"]]
Mens_Shoes_df

,id,brand,colors,name,prices.amountMax,prices.currency,prices.dateSeen,prices.isSale
0,AVpfHrJ6ilAPnD_xVXOI,Josmo,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",39.89,USD,2016-11-05T00:00:00Z,TRUE
1,AVpfHrJ6ilAPnD_xVXOI,Josmo,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",51.99,USD,2016-11-05T00:00:00Z,FALSE
2,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,40.02,USD,2016-03-08T00:00:00Z,FALSE
3,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,50.31,USD,2015-11-30T00:00:00Z,FALSE
4,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,46.26,USD,2016-04-29T00:00:00Z,FALSE
...,...,...,...,...,...,...,...,...
19382,AVpfdSjlilAPnD_xcGPm,"Xray, XRay",Black,New Xray Hester Men's Lace Up Boots - Black - ...,29.95,USD,2016-02-27T00:00:00Z,FALSE
19383,AVpf3bFWilAPnD_xjrQ2,Fila,NaN,Fila Men's Original Tennis Navy/white/gold Fas...,64.95,USD,2016-10-05T00:00:00Z,FALSE
19384,AVpf0fJXLJeJML43EVe9,Seek Optics,NaN,Seek Optics New Seek Polarized Replacement Len...,32.48,USD,2016-03-17T00:00:00Z,TRUE
19385,AVpf0fJXLJeJML43EVe9,Seek Optics,NaN,Seek Optics New Seek Polarized Replacement Len...,31.48,USD,2016-03-31T00:00:00Z,TRUE
19386,AVpf0fJXLJeJML43EVe9,Seek Optics,NaN,Seek Optics New Seek Polarized Replacement Len...,72,USD,2016-03-31T00:00:00Z,FALSE

In [5]:
#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (19387, 8)

###### REMOVE ALL ROWS WITH NO DATA

In [6]:
#Filter out those rows which does not contain any data 
Mens_Shoes_df = Mens_Shoes_df.dropna() 

#Confirm duplicates are dropped
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10842, 8)

###### REMOVE ALL ROWS WHICH CONTAIN A CURRENCY OTHER THAN USD

In [7]:
#Get names of indexes for which column Currency has value other than USD
Mens_Shoes_df_indexnames = (Mens_Shoes_df[Mens_Shoes_df['prices.currency'] != "USD"]).index
#Delete these row indexes from dataframe
Mens_Shoes_df.drop(Mens_Shoes_df_indexnames, inplace=True)

#Print the dataframe
Mens_Shoes_df

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,brand,colors,name,prices.amountMax,prices.currency,prices.dateSeen,prices.isSale
13,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,9.99,USD,2016-10-31T00:00:00Z,FALSE
14,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,19.99,USD,2016-07-17T00:00:00Z,TRUE
15,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,25,USD,2016-11-15T12:45:09Z,FALSE
16,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,15.99,USD,2016-08-02T00:00:00Z,TRUE
17,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,9.99,USD,2016-10-04T00:00:00Z,TRUE
...,...,...,...,...,...,...,...,...
19378,AVpf0eG_ilAPnD_xi3cq,Nike,Green,Nike Air Max+ 2013 Men Us 9.5 Green Running Sh...,65.99,USD,2016-06-10T00:00:00Z,FALSE
19379,AVpf0eG_ilAPnD_xi3cq,Nike,Green,Nike Air Max+ 2013 Men Us 9.5 Green Running Sh...,58.99,USD,2016-06-20T00:00:00Z,FALSE
19380,AVpfdSjIilAPnD_xcGPY,Roper,Bay Brown,Roper Western Shoes Mens Wide Slip On Brown 09...,34.99,USD,2017-01-11T00:00:00Z,TRUE
19381,AVpfdSjIilAPnD_xcGPY,Roper,Bay Brown,Roper Western Shoes Mens Wide Slip On Brown 09...,94,USD,2017-01-11T00:00:00Z,FALSE
19382,AVpfdSjlilAPnD_xcGPm,"Xray, XRay",Black,New Xray Hester Men's Lace Up Boots - Black - ...,29.95,USD,2016-02-27T00:00:00Z,FALSE

In [8]:
#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10526, 8)

###### REMOVE ALL ROWS WITH FALSE IN THE "prices.isSale" COLUMN

In [9]:
#Get names of indexes for which column Currency has value other than USD
Mens_Shoes_df_indexnames = (Mens_Shoes_df[Mens_Shoes_df['prices.isSale'] == "FALSE"]).index
#Delete these row indexes from dataFrame
Mens_Shoes_df.drop(Mens_Shoes_df_indexnames, inplace=True)

#Print the dataframe
Mens_Shoes_df

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,brand,colors,name,prices.amountMax,prices.currency,prices.dateSeen,prices.isSale
14,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,19.99,USD,2016-07-17T00:00:00Z,TRUE
16,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,15.99,USD,2016-08-02T00:00:00Z,TRUE
17,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,9.99,USD,2016-10-04T00:00:00Z,TRUE
20,AVpfFVg-1cnluZ0-di18,Lacoste,Dark Grey,Lacoste Mens Mokara 416 Sneakers In Dark Grey,124.95,USD,2017-01-06T00:00:00Z,TRUE
29,AVpfDweJilAPnD_xUBrV,Filament,Beige,Filament Metric Men Round Toe Suede Skate Shoe,13.99,USD,2017-01-11T00:00:00Z,TRUE
...,...,...,...,...,...,...,...,...
19361,AVpfeIH61cnluZ0-lTTL,Nike,VoltPhoto BlueHyper Pink,Nike Lebron Xi Low Gradeschool Kid's Shoes Size,121.5,USD,2015-04-20T14:50:03.246Z,TRUE
19368,AVpf0ppuLJeJML43EYgs,Justin Boots,Tumbled Tomboni Brown,Justin Boots Work Boots Mens Buffalo Western I...,149.95,USD,2016-03-31T00:00:00Z,TRUE
19373,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,123.63,USD,2017-01-11T00:00:00Z,TRUE
19375,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,129.59,USD,2016-11-05T00:00:00Z,TRUE
19380,AVpfdSjIilAPnD_xcGPY,Roper,Bay Brown,Roper Western Shoes Mens Wide Slip On Brown 09...,34.99,USD,2017-01-11T00:00:00Z,TRUE

In [10]:
#Drop the 'prices.isSale' column as it is now useless data - was used to siphon the non-Sale prices.
Mens_Shoes_df = Mens_Shoes_df.drop(['prices.isSale'], axis = 1)
Mens_Shoes_df

,id,brand,colors,name,prices.amountMax,prices.currency,prices.dateSeen
14,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,19.99,USD,2016-07-17T00:00:00Z
16,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,15.99,USD,2016-08-02T00:00:00Z
17,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,9.99,USD,2016-10-04T00:00:00Z
20,AVpfFVg-1cnluZ0-di18,Lacoste,Dark Grey,Lacoste Mens Mokara 416 Sneakers In Dark Grey,124.95,USD,2017-01-06T00:00:00Z
29,AVpfDweJilAPnD_xUBrV,Filament,Beige,Filament Metric Men Round Toe Suede Skate Shoe,13.99,USD,2017-01-11T00:00:00Z
...,...,...,...,...,...,...,...
19361,AVpfeIH61cnluZ0-lTTL,Nike,VoltPhoto BlueHyper Pink,Nike Lebron Xi Low Gradeschool Kid's Shoes Size,121.5,USD,2015-04-20T14:50:03.246Z
19368,AVpf0ppuLJeJML43EYgs,Justin Boots,Tumbled Tomboni Brown,Justin Boots Work Boots Mens Buffalo Western I...,149.95,USD,2016-03-31T00:00:00Z
19373,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,123.63,USD,2017-01-11T00:00:00Z
19375,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,129.59,USD,2016-11-05T00:00:00Z
19380,AVpfdSjIilAPnD_xcGPY,Roper,Bay Brown,Roper Western Shoes Mens Wide Slip On Brown 09...,34.99,USD,2017-01-11T00:00:00Z

In [11]:
#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2734, 7)

###### RENAME COLUMNS AND CORRECT THE INDEX FOR VISUAL PURPOSES

In [12]:
#The original dataframe had an index, so re-arrange the index 
Mens_Shoes_df.index = [x for x in range(1, len(Mens_Shoes_df.values)+1)]
Mens_Shoes_df.index.name = 'Index'
Mens_Shoes_df

,id,brand,colors,name,prices.amountMax,prices.currency,prices.dateSeen
Index,,,,,,,
1,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,19.99,USD,2016-07-17T00:00:00Z
2,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,15.99,USD,2016-08-02T00:00:00Z
3,AVpfFCHeilAPnD_xUeS0,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",Maui and Sons David Men Open Toe Synthetic F...,9.99,USD,2016-10-04T00:00:00Z
4,AVpfFVg-1cnluZ0-di18,Lacoste,Dark Grey,Lacoste Mens Mokara 416 Sneakers In Dark Grey,124.95,USD,2017-01-06T00:00:00Z
5,AVpfDweJilAPnD_xUBrV,Filament,Beige,Filament Metric Men Round Toe Suede Skate Shoe,13.99,USD,2017-01-11T00:00:00Z
...,...,...,...,...,...,...,...
2730,AVpfeIH61cnluZ0-lTTL,Nike,VoltPhoto BlueHyper Pink,Nike Lebron Xi Low Gradeschool Kid's Shoes Size,121.5,USD,2015-04-20T14:50:03.246Z
2731,AVpf0ppuLJeJML43EYgs,Justin Boots,Tumbled Tomboni Brown,Justin Boots Work Boots Mens Buffalo Western I...,149.95,USD,2016-03-31T00:00:00Z
2732,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,123.63,USD,2017-01-11T00:00:00Z
2733,AVpf0jrBilAPnD_xi5DF,Easy USA,Multicolor,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,129.59,USD,2016-11-05T00:00:00Z
2734,AVpfdSjIilAPnD_xcGPY,Roper,Bay Brown,Roper Western Shoes Mens Wide Slip On Brown 09...,34.99,USD,2017-01-11T00:00:00Z

In [13]:
#Rename the columns for visual purposes
Mens_Shoes_df = Mens_Shoes_df.rename(columns = {"id":"ID", "brand":"Brand", "colors":"Colours", "name":"Name", 
                                                "prices.amountMax":"Price", "prices.currency":"Currency", 
                                                "prices.dateSeen":"Date"})

#Reorganise the columns for visualisation
Mens_Shoes_df = Mens_Shoes_df[['ID', 'Name', 'Brand', 'Colours', 'Price', 'Currency', 'Date']]

#Print the dataframe
Mens_Shoes_df

,ID,Name,Brand,Colours,Price,Currency,Date
Index,,,,,,,
1,AVpfFCHeilAPnD_xUeS0,Maui and Sons David Men Open Toe Synthetic F...,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",19.99,USD,2016-07-17T00:00:00Z
2,AVpfFCHeilAPnD_xUeS0,Maui and Sons David Men Open Toe Synthetic F...,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",15.99,USD,2016-08-02T00:00:00Z
3,AVpfFCHeilAPnD_xUeS0,Maui and Sons David Men Open Toe Synthetic F...,MAUI AND SONS,"Red,Black,Sketchy Slant,Yellow,BlackBlue,Black...",9.99,USD,2016-10-04T00:00:00Z
4,AVpfFVg-1cnluZ0-di18,Lacoste Mens Mokara 416 Sneakers In Dark Grey,Lacoste,Dark Grey,124.95,USD,2017-01-06T00:00:00Z
5,AVpfDweJilAPnD_xUBrV,Filament Metric Men Round Toe Suede Skate Shoe,Filament,Beige,13.99,USD,2017-01-11T00:00:00Z
...,...,...,...,...,...,...,...
2730,AVpfeIH61cnluZ0-lTTL,Nike Lebron Xi Low Gradeschool Kid's Shoes Size,Nike,VoltPhoto BlueHyper Pink,121.5,USD,2015-04-20T14:50:03.246Z
2731,AVpf0ppuLJeJML43EYgs,Justin Boots Work Boots Mens Buffalo Western I...,Justin Boots,Tumbled Tomboni Brown,149.95,USD,2016-03-31T00:00:00Z
2732,AVpf0jrBilAPnD_xi5DF,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,Easy USA,Multicolor,123.63,USD,2017-01-11T00:00:00Z
2733,AVpf0jrBilAPnD_xi5DF,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,Easy USA,Multicolor,129.59,USD,2016-11-05T00:00:00Z
2734,AVpfdSjIilAPnD_xcGPY,Roper Western Shoes Mens Wide Slip On Brown 09...,Roper,Bay Brown,34.99,USD,2017-01-11T00:00:00Z

In [14]:
#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2734, 7)

In [15]:
#Save dataframe as csv file
#Mens_Shoes_df.to_csv('Mens_Shoes_df.csv')